.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-wrapper {
  height: 72px;
}

.header {
  position: fixed;
  z-index: 1;
  padding: 24px;
  width: 100%;
  background-color: $light;
}

.main {
  flex: 1;
}

.panel {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 6px 10px;
  box-shadow: 0 4px 10px 2px rgb(0 0 0 / 16%);
  background-color: #fff;
  width: 100%;
}

.footer {
  background-color: $light;
  padding: 24px;
}
